<template>
  <v-stepper v-model="e1">
    <v-stepper-header>
      <v-stepper-step
        :complete="e1 > 1"
        step="1"
      >
        Personal Data
      </v-stepper-step>

      <v-divider></v-divider>

      <v-stepper-step
        :complete="e1 > 2"
        step="2"
      >
        Upload Photo
      </v-stepper-step>

      <v-divider></v-divider>

      <v-stepper-step step="3">
        Finish
      </v-stepper-step>
    </v-stepper-header>

    <v-stepper-items>
      <v-stepper-content step="1">
        <!-- <v-card>
        
            <v-divider></v-divider>

            <v-container fluid>
                <v-form ref="form">
                    <v-text-field v-model="email" label="E-mail" required append-icon="mdi-email"></v-text-field>
                    <v-text-field v-model="password" :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                        :type="showPassword ? 'text' : 'password'" 
                        label="password"  counter @click:append="showPassword = !showPassword" ref="password"></v-text-field>
                    <v-text-field v-model="name" label="Name" required append-icon="mdi-email"></v-text-field>

                </v-form>

            </v-container>
        </v-card> -->
        <validation-observer
            ref="observer"
            v-slot="{ invalid }"
        >
            <form @submit.prevent="submit">
            <validation-provider
                v-slot="{ errors }"
                name="Name"
                rules="required"
            >
                <v-text-field
                v-model="name"
                :error-messages="errors"
                label="Name"
                required
                ></v-text-field>
            </validation-provider>
            <validation-provider
                v-slot="{ errors }"
                name="email"
                rules="required|email"
            >
                <v-text-field
                v-model="email"
                :error-messages="errors"
                label="E-mail"
                required
                ></v-text-field>
            </validation-provider>
            <validation-provider
                v-slot="{ errors }"
                name = "password"
                rules="required|min:8"
            >
                <v-text-field v-model="password" :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                        :type="showPassword ? 'text' : 'password'" 
                        label="password"  counter @click:append="showPassword = !showPassword"
                        required :error-message="errors" ref="password"></v-text-field>
            </validation-provider>
            <v-btn
                class="mr-4"
                :disabled="invalid"
                @click ="e1 = 2"
            >
                Continue
            </v-btn>
        <v-btn text :to="'/'">
          Cancel
        </v-btn>
            </form>
        </validation-observer>

      </v-stepper-content>

      <v-stepper-content step="2">
            <validation-observer
            ref="observer"
            v-slot="{ invalid }"
            >
                <validation-provider
                v-slot="{ errors }"
                name="Photo"
                rules="required"
                >
                    <v-file-input
                        v-model="photo"
                        accept="image/png, image/jpeg, image/bmp"
                        placeholder="Pick an avatar"
                        prepend-icon="mdi-camera"
                        label="Avatar"
                        required
                        :error-messages="errors"
                        ref="photo"
                    ></v-file-input>
                </validation-provider>
                <v-btn
                    class="mr-4"
                    :disabled="invalid"
                    @click ="submit"
                    color="primary"
                >
                    Submit
                </v-btn>
                <v-btn
                color="warning"
                @click="e1 = 1"
                >
                Back
                </v-btn>

                <v-btn text :to="'/'">
                Cancel
                </v-btn>
            </validation-observer>
      </v-stepper-content>

      <v-stepper-content step="3">
        Registrasi Berhasil

        <v-btn
          color="primary"
          :to="'/'"
        >
          Done
        </v-btn>

        <v-btn text>
          Cancel
        </v-btn>
      </v-stepper-content>
    </v-stepper-items>
  </v-stepper>
</template>

<script>
import { mapActions } from 'vuex'
import { required, email, max, min } from 'vee-validate/dist/rules'
import { extend, ValidationObserver, ValidationProvider, setInteractionMode } from 'vee-validate'

  setInteractionMode('eager')

  extend('min', {
    ...min,
    message: '{_field_} must at least {length} characters',
  })

  extend('required', {
    ...required,
    message: '{_field_} can not be empty',
  })

  extend('max', {
    ...max,
    message: '{_field_} may not be greater than {length} characters',
  })


  extend('email', {
    ...email,
    message: 'Email must be valid',
  })
export default {
    components: {
      ValidationProvider,
      ValidationObserver,
    },
    data(){
        return {
            email : '',
            name : '',
            showPassword : false,
            password : '',
            apiDomain : 'https://demo-api-vue.sanbercloud.com',
            e1 : 1,
            photo :[],
        }
    },
    methods :{
        ...mapActions({
            setAlert : 'alert/set',
            setToken : 'auth/setToken'
        }),
        close (){
            this.$emit('closed', false)
        },
        submit(){
            let formData = new FormData()
            formData.append('email' , this.email)
            formData.append('name' , this.name)
            formData.append('password' , this.pasword)
            formData.append('photo_profile' , this.photo)
            const config = {
                method: 'post',
                url: `${this.apiDomain}/api/v2/auth/register`,
                data: formData,
            }
              console.log(this.name)
              console.log(this.email)
              console.log(this.password)
              console.log(this.photo)
            this.axios(config)
                .then( response => {
                    console.log(response.data)
                    this.login()
                    this.setAlert({
                        status : true,
                        color : 'success',
                        text : 'Registrasi Berhasil',
                    })
                    this.e1=3
                })
                .catch( response => {
                    console.log(response)
                    this.setAlert({
                        status : true,
                        color : 'error',
                        text : 'Registrasi Gagal'
                    })
                })
        },
        login(){
            let formData = new FormData()
            formData.append('email' , this.email)
            formData.append('password' , this.pasword)
            const config = {
                method: 'post',
                url: `${this.apiDomain}/api/v2/auth/login`,
                data:formData
            }

            this.axios(config)
                .then( response => {
                    this.setToken(response.data.access_token)
                    this.email = ''
                    this.password = ''
                    console.log(response.data)
                })
                .catch( response => {
                    console.log(response)
                    this.setAlert({
                        status : true,
                        color : 'error',
                        text : 'Login Gagal'
                    })
                })
        }
    }
}
</script>